:root{
	--transparencycolor:			0,0,0;
	--transparencyalpha:			0.15;
	--messagetransparency:			0.5;
	--usechatbubbles: 				calc(var(--messagetransparency) / (var(--messagetransparency) + 0.00000000000000000000001));
	--guildchanneltransparency:		0.15;
	--memberlisttransparency:		0.0;

	--accentcolor:					39, 128, 230;

	--textbrightest: 				255,255,255;
	--textbrighter: 				222,222,222;
	--textbright: 					200,200,200;
	--textdark: 					160,160,160;
	--textdarker: 					125,125,125;
	--textdarkest: 					90,90,90;
}

#app-mount .message-2qRu38 {								
	background-color: rgba(var(--transparencycolor), .2);
	box-shadow: none;
}
.message-2qnXI6,											
.wrapper-1F5TKx,											
.message-2DieIs,											
.message-2g38UB,											
.message-2qRu38 .wrapper-2a6GCs,							
.messageGroupCozy-2iY6cT,								
.message-1Ng5AR .wrapper-2a6GCs {							
	background-color: rgba(var(--transparencycolor), var(--messagetransparency)) !important;
	contain: unset;
}
.message-1Ng5AR .wrapper-2a6GCs {						
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8)) !important;
}
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode .message-2qnXI6:hover,
.mouse-mode.full-motion .message-2qnXI6:hover,
.mouse-mode .wrapper-1F5TKx:hover,
.mouse-mode.full-motion .wrapper-1F5TKx:hover {
	background-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2 * var(--usechatbubbles) + 0.3 * (1 - var(--usechatbubbles)))) !important;
}
.backgroundFlash-24qWLN .message-2qnXI6 {					
	position: relative;
}
.backgroundFlash-24qWLN .message-2qnXI6::before {
	content: "";
	position: absolute;
	background: var(--message-background-flash, transparent);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}
.backgroundFlash-24qWLN .cozyMessage-3V1Y8y::before {
	left: calc(-80px * var(--usechatbubbles));
}
.message-2qnXI6.ephemeral-1PsL1r,							
.message-2qnXI6.replying-1x3H0T {						
	background-image: linear-gradient(rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2qnXI6.mentioned-xhSam7 {						
	background-image: linear-gradient(rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))), rgba(var(--accentcolor), calc(0.2 * (1 - var(--usechatbubbles)))));
}
.message-2qnXI6.ephemeral-1PsL1r::before,
.message-2qnXI6.replying-1x3H0T::before,
.message-2qnXI6.mentioned-xhSam7::before {
	background-color: rgb(var(--accentcolor));
}
.message-2qnXI6.mentioned-xhSam7 .contents-2mQqc9 .messageContent-2qWWxC {
	border-radius: 3px;
	background-color: rgba(var(--accentcolor), calc(0.3 * var(--usechatbubbles)));
}
#app-mount .avatar-1BDn8e,									
#app-mount .avatar-2daVqv {									
	position: absolute;
	top: 2px;
	left: calc(-70px * var(--usechatbubbles) + 16px);
}
#app-mount .repliedMessage-VokQwo ~ * .avatar-1BDn8e {
	top: 24px;
}
.container-3FojY8 .avatar-1BDn8e {
	left: calc(-10px * var(--usechatbubbles));
}

#app-mount .replyBadge-r1su3o {								
	background-color: rgba(var(--transparencycolor), .5);
}
#app-mount .spine-1UneWn {
	width: 0px;
	top: 20px;
	right: calc(1px * (-32 * var(--usechatbubbles) + -25 * (1 - var(--usechatbubbles))));
	left: unset;
	border: none;
}
#app-mount .compact-T3H92H .spine-1UneWn {
	right: 0;
}
#app-mount .repliedMessage-VokQwo::before,					
#app-mount .repliedMessage-VokQwo::after,
#app-mount .spine-1UneWn::before,							
#app-mount .spine-1UneWn::after {
	--avatar-size: 40px;
	--gutter: 16px;
	--spine-width: 2px;
	content: "";
	display: block;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 50%;
	right: unset;
	bottom: 0;
	left: calc(-1*var(--avatar-size) - (6px*var(--usechatbubbles)));
	width: calc(var(--avatar-size) - 4px);
	margin: calc(-1*var(--spine-width)/2) var(--reply-spacing) calc(.125rem - 4px) calc(-1*var(--spine-width)/2);
	border-right: 0 solid var(--background-accent);
	border-left: var(--spine-width) solid var(--background-accent);
}
#app-mount .repliedMessage-VokQwo::before,
#app-mount .repliedMessage-VokQwo::after {
	border-top: var(--spine-width) solid var(--background-accent);
	border-bottom: 0 solid var(--background-accent);
	border-top-left-radius: 6px;
}
#app-mount .spine-1UneWn::before,
#app-mount .spine-1UneWn::after {
	border-top: 0 solid var(--background-accent);
	border-bottom: var(--spine-width) solid var(--background-accent);
	border-bottom-left-radius: 6px;
}
#app-mount .compact-T3H92H .repliedMessage-VokQwo::before,
#app-mount .compact-T3H92H .repliedMessage-VokQwo::after,
#app-mount .compact-T3H92H .spine-1UneWn::before,
#app-mount .compact-T3H92H .spine-1UneWn::after {
	--avatar-size: 20px;
	left: calc(-1*var(--avatar-size));
}
#app-mount .repliedMessage-VokQwo::before,
#app-mount .spine-1UneWn::before {
	border-color: rgba(var(--transparencycolor), calc(0.5 * var(--usechatbubbles)));
}
#app-mount .repliedMessage-VokQwo::after,
#app-mount .spine-1UneWn::after {
	border-color: rgba(var(--textbrighter), calc(0.5 * (1 - var(--usechatbubbles))));
}
#app-mount .compact-T3H92H .repliedMessage-VokQwo::before,
#app-mount .compact-T3H92H .spine-1UneWn::before {
	border-color: transparent;
}
#app-mount .compact-T3H92H .repliedMessage-VokQwo::after,
#app-mount .compact-T3H92H .spine-1UneWn::after {
	border-color: rgba(var(--textbrighter), .3);
}

.cozy-3I4Ja9.content-2Kddbs {								
	background-color: rgba(var(--transparencycolor), .3);
}

.cozy-3raOZG .header-23xsNx::after,						
.cozy-12kSNU .header-1oLBbW::after {					
	content: "";
	position: absolute;
	top: 12px;
	left: -32px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-3raOZG .container-3FojY8 .header-23xsNx::after {
	left: 40px;
}
.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT .header-23xsNx::after {
	top: 2px;
}
.message-1Ng5AR .wrapper-2a6GCs .header-23xsNx::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 0.8));
}
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
	left: calc(-78px * var(--usechatbubbles));
}
.cozy-3raOZG .iconContainer-3GkGRf {
	background-color: rgba(var(--transparencycolor), var(--messagetransparency));
	border-radius: 50%;
	left: calc(1px * (-58 * var(--usechatbubbles) + -48 * (1 - var(--usechatbubbles))));
	height: 25px;
	width: 25px;
	margin: unset;
	margin-right: 1rem;
	padding: 0;
}
.cozy-3raOZG .blockedSystemMessage-2Rk1ek .iconContainer-3GkGRf {
	background-color: transparent;
}
.cozy-3raOZG .iconContainer-3GkGRf::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 26px;
	border: 10px solid transparent;
	border-right: 12px solid rgba(var(--transparencycolor), var(--messagetransparency));
}
.cozy-3raOZG .blockedSystemMessage-2Rk1ek .iconContainer-3GkGRf::after {
	display: none;
}
.selected-2P5D_Z.message-2qnXI6.cozy-3raOZG .header-23xsNx::after, 
.mouse-mode .message-2qnXI6.cozy-3raOZG:hover .header-23xsNx::after,
.mouse-mode.full-motion .message-2qnXI6.cozy-3raOZG:hover .header-23xsNx::after,
.mouse-mode .wrapper-1F5TKx.cozy-12kSNU:hover .header-1oLBbW::after,
.mouse-mode.full-motion .wrapper-1F5TKx.cozy-12kSNU:hover .header-1oLBbW::after,
.selected-2P5D_Z.message-2qnXI6.cozy-3raOZG .iconContainer-3GkGRf::after,
.mouse-mode .message-2qnXI6.cozy-3raOZG:hover .iconContainer-3GkGRf::after,
.mouse-mode.full-motion .message-2qnXI6.cozy-3raOZG:hover .iconContainer-3GkGRf::after {
	border-right-color: rgba(var(--transparencycolor), calc(var(--messagetransparency) * 1.2));
}
#app-mount .ephemeral-1PsL1r.cozy-3raOZG .header-23xsNx::after,
#app-mount .replying-1x3H0T.cozy-3raOZG .header-23xsNx::after,
#app-mount .mentioned-xhSam7.cozy-3raOZG .header-23xsNx::after {
	border-right-color: rgba(var(--accentcolor), calc(var(--messagetransparency) * 100000000000000000000000000000));
}
.message-2DieIs,
.message-2g38UB,
.zalgo-jN1Ica .messageContent-2qWWxC,
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx,
.wrapper-1F5TKx,
.cozy-12kSNU .header-1oLBbW {
	overflow: visible;
}
.container-3FojY8 {
	padding: 0;
	overflow: visible;
}
#app-mount .cozyMessage-3V1Y8y,								
#app-mount .cozy-12kSNU {									
	margin-left: calc(80px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
#app-mount .compact-3Dy1Ya {								
	margin-top: .0625rem;
}
#app-mount .cozy-3raOZG .header-23xsNx,
#app-mount .cozy-3raOZG .messageContent-2qWWxC,
#app-mount .cozy-12kSNU .header-1oLBbW {
	margin-left: 0;
	padding-left: 0;
}
.messageContainer-gbhlwo .wrapper-2a6GCs,
.messages-3G3erD .wrapper-2a6GCs,
.message-2qRu38 .wrapper-2a6GCs,
.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT,
.message-1Ng5AR .wrapper-2a6GCs {
	border-radius: 5px;
	margin-left: calc(60px * var(--usechatbubbles));
	padding-left: calc(1px * (10 * var(--usechatbubbles) + 72 * (1 - var(--usechatbubbles))));
}
.messages-3G3erD .wrapper-2a6GCs {
	border-radius: 0;
}

.avatar-2daVqv {											
	background: rgba(var(--transparencycolor), .4);
	opacity: 1 !important;
}
.attachment-2p5mHK,											
.blob-2w7iIK {												
	background: rgb(var(--accentcolor));
}

.expanded-13sWhZ {											
	background-color: rgba(var(--transparencycolor), .2);
	border-radius: 5px 5px 0 5px;
	margin-bottom: .5625rem;
}

.reaction-1hd86g {										
	background-color: rgba(var(--transparencycolor), .3);
	border: none;
}
.reaction-1hd86g:hover {
	background-color: rgba(var(--transparencycolor), .4);
}
.reaction-1hd86g.reactionMe-wv5HKu {
	background-color: rgba(var(--accentcolor), .8);
}
.reaction-1hd86g.reactionMe-wv5HKu:hover {
	background-color: rgb(var(--accentcolor));
}
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
	color: #FFF;
	text-shadow: 1px 1px var(--textshadow);
}
.reaction-1hd86g:hover {
	background-color: rgba(var(--transparencycolor), .4);
}

.wrapper-2aW0bm {											
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	position: relative;
}
.wrapper-2aW0bm::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
	filter: blur(var(--popoutblur));
	width: unset;
	height: unset;
	border-radius: 4px;
	pointer-events: none;
	z-index: -1;
}
.button-1ZiXG9:hover {										
	background-color: rgba(var(--transparencycolor), .2);
}
.button-1ZiXG9.selected-LCBEAU {
	background-color: rgba(var(--transparencycolor), .4);
}

.bumpBox-1r5p3c {											
	background-color: rgba(var(--transparencycolor), .4);
}

.markup-2BOw-j code {										
	background-color: transparent;
	border-color: transparent;
}
.markup-2BOw-j pre {										
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.markup-2BOw-j .inline,										
.after_inlineCode-1KfVgj,
.before_inlineCode-1G9rTK,
.inlineCode-2ngu6Y {
	background-color: rgba(var(--transparencycolor), .4);
}

.textContainer-C0szpm {										
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.footer-2yA7Ep {											
	background-color: rgba(var(--transparencycolor), .4);
	border-color: rgba(var(--transparencycolor), .1);
}
.languageSelector-2LVJrh {									
	background-color: transparent;
	border: 1px solid rgba(var(--transparencycolor), .3);
	border-radius: 5px;
	box-shadow: 0px 1px 5px 0px rgba(var(--transparencycolor), .3);
	overflow: hidden;
}
.languageSelector-2LVJrh::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--popout) var(--popoutposition)/var(--popoutsize);
	background-attachment: fixed;
	filter: blur(var(--popoutblur));
	border-radius: 5px;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}
.languageSelector-2LVJrh::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(var(--transparencycolor), calc(var(--transparencyalpha) + 0.25));
	border-radius: 5px;
	width: unset;
	height: unset;
	pointer-events: none;
	z-index: -1;
}

#app-mount .spoilerText-3p6IlD {							
	background-color: rgba(var(--transparencycolor), .2);
}
#app-mount .spoilerText-3p6IlD.hidden-HHr2R9 {				
	background-color: rgba(var(--transparencycolor), .5);
}

.icon-2Po-VO[style*="/assets/5da4cdab01d4d89c593c48c62ae0d937.svg"] {		
	-webkit-mask: url(https://discord.com/assets/5da4cdab01d4d89c593c48c62ae0d937.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-2Po-VO[style*="/assets/d80d1fdc43a3c42134a31a39581160ac.svg"] {		
	-webkit-mask: url(https://discord.com/assets/d80d1fdc43a3c42134a31a39581160ac.svg) center/cover no-repeat;
	background: var(--channels-default) !important;
}
.icon-2Po-VO[style*="/assets/b8029fe196b8f1382e90bbe81dab50dc.svg"] {		
	-webkit-mask: url(https://discord.com/assets/b8029fe196b8f1382e90bbe81dab50dc.svg) center/cover no-repeat;
	background: rgb(var(--accentcolor)) !important;
}
.icon-2Po-VO[style*="/assets/c30220457097b064286a8759a9b6c4af.svg"] {		
	-webkit-mask: url(https://discord.com/assets/c30220457097b064286a8759a9b6c4af.svg) center/cover no-repeat;
	background: rgb(var(--accentcolor)) !important;
}