/*A modified version of ClearVision: https://github.com/ClearVision/ClearVision-v6 */

/*Make user popout darker*/

.userPopout-3XzG_A .header-2BwW8b {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)) center/cover;
}
.userPopout-3XzG_A .headerStreaming-2FjmGz {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)) center/cover, linear-gradient(to bottom, rgba(89, 54, 149, 0.4) 93%, transparent 100%);
}
.userPopout-3XzG_A .headerSpotify-zpWxgT {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)) center/cover, linear-gradient(to bottom, rgba(29, 185, 84, 0.4) 93%, transparent 100%);
}
.userPopout-3XzG_A .headerXbox-3G-4PF {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)) center/cover, linear-gradient(to bottom, rgba(16, 124, 16, 0.4) 93%, transparent 100%);
}

.userPopout-3XzG_A .body-3iLsc4 {
  background: rgba(0, 0, 0, 0.9);
}

.userPopout-3XzG_A .footer-1fjuF6 {
  background: rgba(0, 0, 0, 0.9);
}

/*Make user popout text fields opaque*/

.input-cIJ7To {
  background-color: #000;
  box-shadow: 0 0 0 2px #181817;
}

.userPopout-3XzG_A .note-3HfJZ5 > textarea {
  background: #000;
}

/*Reduce Server Banner Transparency*/

.container-3w7J-x .bannerImage-3KhIJ6 {
	-webkit-mask: linear-gradient(to bottom, #000, #000, #000, transparent);
}

/*Remove watermarks*/

.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  opacity: 0;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  opacity: 0;
}

.container-3baos1:before {
    opacity: 0;
}

.container-3baos1:after {
    font-size: 0px;
}

/* SETTINGS SIDEBAR ICONS */
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=My-Account-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Privacy-&-Safety-tab"].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Authorized-Apps-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Connections-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Discord-Nitro-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Nitro-Server-Boost-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Library-Inventory-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Billing-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Appearance-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Voice-&-Video-tab"].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Text-&-Images-tab"].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Notifications-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Keybinds-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Language-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Windows-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Linux-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Streamer-Mode-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Advanced-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Game-Activity-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Overlay-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=changelog-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Hypesquad-Online-tab].item-PXvHYJ:before {
  background-image: url('');
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=logout-tab].item-PXvHYJ:before {
  background-image: url('');
}