---
import { Image } from "astro:assets";

export interface Props {
  icon: ImageMetadata;
  alt: string;
  text: string;
  href: string;
}

const { icon, alt, text, href } = Astro.props;
---

<li class="social">
  <a href={href}>
    <div>
      <Image src={icon} alt={alt} height="34" format="png" />
    </div>
    <p>{text}</p>
  </a>
</li>
<style>
  p {
    margin: 0;
    font-weight: bold;
  }
  .social {
    display: inline-block;

    padding: 0 4% 0 4%;
  }
  .social > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--accent-orange);
    text-decoration-line: none;
  }

  a:hover > p {
    color: var(--accent-blue);
  }
  a:hover > div {
    background-color: var(--accent-blue);
  }

  div {
    background-color: var(--accent-orange);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div > img {
    padding: 0.5em;
  }
</style>
